<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>          <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>          <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Filter</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href='../assets/selectbox.min.css' rel='stylesheet' type='text/css'>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
    </head>
<body>
            <!-- Docs -->
                <div class="container-fluid fluid-height wrapper">
            <div class="row columns content" style="padding-top: 0">
                <div class="left-column article-tree col-sm-3 hidden-print">
                    <!-- For Mobile -->
                    <div class="responsive-collapse">
                        <button type="button" class="btn btn-sidebar" id="menu-spinner-button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="sub-nav-collapse" class="sub-nav-collapse">
                        <!-- Navigation -->
                        <ul class="nav nav-list"><li><a href="../Getting_Started.html">Getting Started</a></li><li class="open"><a href="../Configuration/index.html" class="folder">Configuration</a><ul class="nav nav-list"><li><a href="../Configuration/General.html">General</a></li><li><a href="../Configuration/Head.html">Head</a></li><li class="active"><a href="../Configuration/Filter.html">Filter</a></li><li><a href="../Configuration/Callbacks.html">Callbacks</a></li></ul></li><li><a href="../API_Reference/index.html" class="folder">API Reference</a><ul class="nav nav-list"><li><a href="../API_Reference/Open.html">Open</a></li><li><a href="../API_Reference/Close.html">Close</a></li><li><a href="../API_Reference/Set.html">Set</a></li><li><a href="../API_Reference/Get.html">Get</a></li><li><a href="../API_Reference/Add.html">Add</a></li><li><a href="../API_Reference/Remove.html">Remove</a></li><li><a href="../API_Reference/Destroy.html">Destroy</a></li></ul></li><li><a href="../Examples/index.html" class="folder">Examples</a><ul class="nav nav-list"><li><a href="../Examples/Single.html">Single</a></li><li><a href="../Examples/Multiple.html">Multiple</a></li><li><a href="../Examples/Groups.html">Groups</a></li><li><a href="../Examples/Filter.html">Filter</a></li><li><a href="../Examples/Full_Example.html">Full Example</a></li><li><a href="../Examples/Ajax.html">Ajax</a></li></ul></li></ul>                                            </div>
                </div>
                <div class="right-column float-view content-area col-sm-9">
                    <div class="content-page">
                        <article>
                                                            <div class="page-header">
                                    <h1><a href="../Configuration">Configuration</a> <i class="glyphicon glyphicon-chevron-right"></i> <a href="../Configuration/Filter.html">Filter</a>                                                                            </h1>
                                </div>
                            
                            <h2>Filter Section</h2>
<p>You can configurate filter and result functionality.</p>
<h3>Example</h3>
<pre><code>$(function() {
    $("#selectID").selectbox({
        filter: {

            // Allow filter
            enable: false,

            // What to filter
            // Can be set to "options", "groups" or "all"
            in: "options",

            // Placeholder for the filter input
            placeholder: "Type to filter",

            // Focus to input on selectbox open's
            focus: true,

            // Show results of filter section
            result: true,

            // Template of this section
            template: "Showed {{filtered}} of {{count}}"

        }
    });
});</code></pre>                                                    </article>
                    </div>
                </div>
            </div>
        </div>
    
        
    <!-- jQuery -->
    <script src="../assets/jquery.min.js"></script>
    
    <!-- hightlight.js -->
    <script src="../assets/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- JS -->
    <script src="../assets/scrollbar.min.js"></script>
    <script src="../assets/selectbox.min.js"></script>

</body>
</html>

